{% for comment in comments %}
    <article class="comment {{ cycle(['odd', 'even'], loop.index0) }}" id="comment-{{ comment.id }}">
    	<header>
    		<p>
    			<span class="highlight">{{ comment.user }}</span>
    			<time datetime="{{ comment.created|date('c') }}" >{{ comment.created|date('l, F j, Y') }}</time>
    		</p>
    		<p>{{ comment.comment }}</p>
    	</header>
    </article>
{% endfor %}